/*--------- slider ---------*/

#slide {
    height: 520px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
}

.slider {
    height: 520px;
    left: 50%;
    margin: 0 auto 0 -950px;
    position: absolute;
    width: 1900px;
    z-index: 2;
}

.items {
	display:none;
}

.banner-bg {
    background: url("banner-bg.png") repeat scroll 0 0 transparent;
    height: 77px;
    position: absolute;
    right: 480px;
    top: 385px;
    width: 530px;
	z-index:999;
}

.pagination {
    bottom: 20px;
    display: inline-block;
    height: 10px;
    left: 1325px;
    position: absolute;
    z-index: 60;
}
	.pagination li {
		float:left;
		padding:0 10px 0 0;
		font-size:0;
		line-height:0;
		margin:0;
	}
		.pagination a {
			display:block;
			width:10px;
			height:10px;
			background:url(pagin-a.png) left 0px no-repeat;
			font-size:0;
			line-height:0;
			text-decoration:none;
		}
			.pagination li.current a,
			 .pagination a:hover {
				background-position:0 -59px;
			}

.prev {
	display:block;
	width:25px;
	height:22px;
	position:absolute;
	z-index:15;
	bottom:2px;
	right:9px;
}
	
.next {
	display:block;
	width:25px;
	height:22px;
	position:absolute;
	z-index:15;
	bottom:2px;
	right:9px;
}

	.prev:hover,
	.next:hover {
		background-position:0 -70px;
	}
	
.play {
	display:block;
	width:45px;
	height:22px;
	background:url(pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:823px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.play span {
		display:none;
	}
	.play em {
		font-style:normal;
		display:block;
	}
.paused span {
	display:block;
}
.paused em {
	display:none;
}
.banner{
	width:508px;
	overflow:hidden;
	position:absolute;
	color:#fff;
	right: 480px !important;
    top: 385px;
	left:auto !important;
	z-index:15;
	padding: 19px 0 0;
}
	.banner span {
		display:block;
		font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
		font-size:18px;
		line-height:22px;
		margin-bottom:3px;
		letter-spacing:2px;
		text-transform:uppercase;
	}
.banner p{font-family: "宋体"}
.progbar {
	background:#000;
	width:100%;
	height:2px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
}
.numStatus {
	display:block;
	width:45px;
	height:22px;
	background:url(pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:551px;
	left:583px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
/*-------- end slider -----------*/

.col-1 {
	float:left;
	width:400px;
	padding-right:50px
}
* + html .min {
	min-height:45px;
}
.col-2 {
	float:left;
	width:400px;
}
/*-------- end preset -------*/